Repository KingInYellow18/medianest: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build-test, mermaid-validation, json-format, dockerfile-best-practices

mkdocs-build-test:
  name: MkDocs Build Test
  entry: mkdocs
  args:
  - build
  - --strict
  - --site-dir
  - /tmp/mkdocs-test-build
  language: system
  pass_filenames: false

mermaid-validation:
  name: Mermaid Diagram Validation
  entry: bash
  args:
  - -c
  ...

json-format:
  name: Format JSON files
  entry: python3
  args:
  - -c
  ...

dockerfile-best-practices:
  name: Dockerfile Best Practices Check
  entry: bash
  args:
  - -c
  ...

feat: implement optimized git hooks system
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  commitlint.config.js
  docs/git-hooks-developer-guide.md
  package.json
  scripts/git-hooks-bypass.sh
  scripts/git-hooks-health-check.sh
  scripts/git-hooks-optimizer.sh
  scripts/git-hooks-performance.sh
Due: mkdocs-build-test, mermaid-validation, json-format

cleanup: optimize dependencies and consolidate security libraries
  backend/package-lock.json
  backend/package.json
  backend/src/utils/security.ts
  frontend/package-lock.json
  package-lock.json
  package.json
  shared/package-lock.json
Due: json-format

fix: secure Docker secret template configuration vulnerability
  ARCHITECTURE.md
  CONTRIBUTING.md
  backend/tests/mocks/foundation/coordination-integration.test.ts
  backend/tests/mocks/foundation/emergency-registry-test.test.ts
  backend/tests/performance/load-testing.test.ts
  backend/tests/security/setup.ts
  backend/vitest.security.config.ts
  deployment/kubernetes/secrets.yaml
  docs/POST_MIGRATION_VALIDATION_REPORT.md
  frontend/src/components/settings/index.ts
  package.json
  src/services/index.ts
  src/services/integration/index.ts
  src/services/integration/overseerr-integration.service.ts
  src/services/integration/plex-integration.service.ts
  src/services/integration/uptime-kuma-integration.service.ts
  src/services/performance-optimization.service.ts
  tasks/phase1/01-plex-oauth-implementation.md
  tests/example-tests.ts
  tests/setup-comprehensive.ts
  vitest.config.ts
Due: mkdocs-build-test, mermaid-validation, json-format

docs: add comprehensive technical debt cleanup documentation
  SECURITY_HARDENING_COMPLETE.md
  docs/VULNERABILITY_REMEDIATION_REPORT.md
  docs/reports/FINAL_VALIDATION_SUMMARY.md
  docs/reports/METRICS_CURRENT.md
  docs/reports/TECHNICAL_DEBT_CLEANUP_REPORT.md
Due: mkdocs-build-test, mermaid-validation

feat: complete security hardening and validation processes
  VALIDATION_COMPLETE.md
  backend/src/routes/database-health.ts
  config/security/database-security.cjs
  scripts/database-security-test.js
Due: mermaid-validation

cleanup: remove analysis files and temporary artifacts
  .serena/memories/MEDIANEST_TEST_ARCH_20250909_analysis_test_files.md
  .serena/memories/TEST_RECOVERY_2025_09_09_code_analysis_controllers.md
  .serena/memories/comprehensive_testing_analysis.md
  .serena/memories/docker_infrastructure_analysis.md
  DATABASE_MIGRATION_CHECKLIST.md
  DATABASE_SCHEMA_MIGRATION_ANALYSIS.md
  TECHNICAL_DEBT_STATUS.md
  TEST_CLEANUP_SUMMARY.md
  config/security/database-security.js
  docs/docker-configuration-analysis.md
  docs/testing/CACHE_SERVICE_PERFORMANCE_ANALYSIS_2025_09_11.md
  docs/testing/COMPREHENSIVE_TECHNICAL_DEBT_ANALYSIS_2025_01_11.md
  docs/testing/COMPREHENSIVE_TECHNICAL_DEBT_ANALYSIS_2025_09_11.md
  performance-optimization/bundle-analysis-report.json
  performance-optimization/bundle-size-analysis.js
  performance-optimization/dependency-optimization-report.json
  scripts/optimization/bundle-analysis-agent.js
  trivy-clean.json
  trivy-dev.json
  trivy-results.json
Due: mkdocs-build-test, mermaid-validation, json-format

refactor: remove Kubernetes deployment, simplify to Docker Compose
  .github/workflows/production-deploy.yml
  .github/workflows/zero-failure-deployment-enhanced.yml
  .github/workflows/zero-failure-deployment.yml
  KUBERNETES_CLEANUP_SUMMARY.md
  config/autoscaling/scaling-policies.yml
  config/docker/.dockerignore.consolidated
  config/environments/secret-manager.ts
  deployment/scripts/deploy-compose.sh
  docs/kubernetes-backup-$(date +%Y%m%d)/BACKUP_INDEX.md
  docs/kubernetes-backup-20250911/backend-deployment.yaml
  docs/kubernetes-backup-20250911/configmaps.yaml
  docs/kubernetes-backup-20250911/database.yaml
  docs/kubernetes-backup-20250911/deploy.sh
  docs/kubernetes-backup-20250911/frontend-deployment.yaml
  docs/kubernetes-backup-20250911/ingress.yaml
  docs/kubernetes-backup-20250911/namespace.yaml
  docs/kubernetes-backup-20250911/rollback.sh
  docs/kubernetes-backup-20250911/secrets.yaml
  package.json
Due: mkdocs-build-test, mermaid-validation, json-format

docs: update all documentation for Docker Compose-only deployment
  ARCHITECTURE.md
  README.md
  README_DEPLOYMENT.md
  backend/README.md
  docs/api/overview.md
  docs/deployment/DOCKER_DEPLOYMENT.md
  docs/implementation/detailed-implementation-plan.md
  docs/implementation/success-metrics-framework.md
  docs/roadmap/strategic-development-roadmap.md
  docs/visuals/deployment-architecture.md
  security-audit-2025-09-08/COMPREHENSIVE_SECURITY_AUDIT_REPORT.md
  tasks/pending/task-20250119-1845-health-check-implementation.md
Due: mkdocs-build-test, mermaid-validation

docs: update vulnerability reports after Kubernetes removal
  docs/GITHUB_VULNERABILITIES.md
  docs/VULNERABILITY_FIX_PLAN.md
  docs/VULNERABILITY_REMEDIATION_REPORT.md
  security/CRITICAL_VULNERABILITY_ELIMINATION_FINAL_REPORT.md
Due: mkdocs-build-test, mermaid-validation

cleanup: remove unused build-stabilizer-old.sh script
  .serena/memories/filename-audit-results.md
  agenthooks-recommended.md
  docs/FILENAME_CLEANUP_PLAN.md
  docs/reports/FILENAME_AUDIT.md
  flowstrats.md
  scripts/build-stabilizer-old.sh
Due: mkdocs-build-test, mermaid-validation

cleanup: remove unused docs-quality-check-old.sh script
  scripts/docs-quality-check-old.sh
Due: none

refactor: rename build-stabilizer-fixed.sh to build-stabilizer.sh
  package.json
  scripts/build-stabilizer-fixed.sh
  scripts/final-build-ready.sh
Due: json-format

docs: rename ALL_CAPS files to kebab-case (batch 1/25)
  docs/deployment/docker-deployment.md
  docs/final-test-validation-report.md
  docs/testing/phase-h-pattern-application-matrix-2025-09-10.md
  docs/validation-report.md
  docs/vulnerability-remediation-report.md
Due: mkdocs-build-test, mermaid-validation

fix: resolve TypeScript import/export errors, restore build functionality
  build-metrics.json
  docs/FILENAME_CLEANUP_VALIDATION_REPORT.md
  shared/src/database/index.ts
  shared/src/database/safe-operations.ts
  shared/src/index.ts
  shared/src/patterns/index.ts
  shared/src/security/index.ts
  shared/src/security/null-safety-report.ts
  shared/src/utils/index.ts
  shared/src/utils/safe-parsing.ts
Due: mkdocs-build-test, mermaid-validation, json-format

refactor: enhance backend architecture and core functionality
  backend/README.md
  backend/src/app.ts
  backend/src/config/env.ts
  backend/src/controllers/media.controller.ts
  backend/src/metrics/prometheus.ts
  backend/src/middleware/auth.ts
  backend/src/server.ts
  backend/src/services/jwt.service.ts
  backend/src/utils/async-handler.ts
  backend/src/utils/logger.ts
Due: mermaid-validation

test: comprehensive backend test suite enhancements and fixes
  backend/tests/auth/auth-middleware.test.ts
  backend/tests/auth/authentication-facade.test.ts
  backend/tests/auth/jwt-facade.test.ts
  backend/tests/mocks/system/async-mock-patterns.ts
  backend/tests/mocks/system/mock-interface-validator.ts
  backend/tests/unit/controllers/admin.controller.test.ts
  backend/tests/unit/controllers/dashboard.controller.test.ts
  backend/tests/unit/controllers/media.controller.test.ts
  backend/tests/unit/controllers/plex.controller.test.ts
  backend/tests/unit/services/cache.service.test.ts
  backend/tests/unit/services/plex.service.test.ts
  backend/tests/unit/utils/async-handler.test.ts
  tests/README.md
Due: mermaid-validation

feat: enhance frontend components and shared library functionality
  frontend/README.md
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/media/MediaUploader.tsx
  frontend/vitest-no-setup.config.ts
  frontend/vitest.config.mts
  frontend/vitest.config.ts
  shared/src/errors/utils.ts
  shared/src/index.ts
Due: mermaid-validation

feat: resolve critical staging deployment blockers and add comprehensive staging documentation
  .dockerignore
  Dockerfile
  backend/package-lock.json
  backend/src/controllers/admin.controller.ts
  backend/src/controllers/auth.controller.ts
  backend/src/controllers/media.controller.ts
  backend/src/db/prisma.ts
  backend/src/metrics/prometheus.ts
  backend/src/middleware/validation.ts
  backend/src/schemas/auth.schemas.ts
  backend/src/server.ts
  backend/src/services/cache.service.ts
  backend/src/services/jwt.service.ts
  backend/src/types/express-consolidated.d.ts
  backend/src/types/index.ts
  backend/src/types/logging.ts
  backend/src/types/metrics.ts
  backend/src/types/winston.d.ts
  backend/src/utils/logger.ts
  backend/tests/helpers/websocket-test-helper.ts
  backend/tests/setup.ts
  backend/tests/unit/controllers/admin.controller.test.ts
  backend/tests/unit/controllers/media.controller.test.ts
  backend/tests/unit/services/cache.service.simple.test.ts
  backend/tests/unit/services/jwt.service.test.ts
  backend/tests/unit/utils/async-handler.test.ts
  backend/tsconfig.json
  backend/vitest.config.ts
  docs/README.md
  docs/operations/critical-fixes-applied.md
  docs/operations/staging-deployment.md
  docs/operations/staging-prerequisites.md
  docs/operations/staging-troubleshooting.md
  mkdocs.yml
  scripts/pre-deploy-validation.sh
Due: mkdocs-build-test, mermaid-validation, json-format, dockerfile-best-practices

chore: remove temporary git state backup file
  git-state-backup.txt
Due: none

security: remove exposed secrets and implement secure secret management
  backend/.env.e2e
  backend/.env.production
  backend/.env.production.final
  backend/.env.test
  backend/scripts/generate-secrets.sh
Due: none

fix: resolve all TypeScript compilation errors in backend
  backend/src/controllers/admin.controller.ts
  backend/src/db/prisma.ts
  backend/src/repositories/media-request.repository.ts
  backend/src/repositories/optimized-media-request.repository.ts
  backend/src/repositories/service-config.repository.ts
  backend/src/repositories/session-token.repository.ts
  backend/src/repositories/user.repository.ts
  backend/src/repositories/youtube-download.repository.ts
  backend/src/routes/dashboard.ts
  backend/src/types/user.types.ts
Due: none

test: fix test infrastructure and setup configuration
  backend/frontend/src/test-utils/__tests__/test-utilities.test.ts
  backend/frontend/src/test-utils/errorBoundaryHelpers.tsx
  backend/frontend/src/test-utils/errorBoundaryTest.ts
  backend/frontend/src/test-utils/errorBoundaryTesting.tsx
  backend/frontend/src/test-utils/integration-render.tsx
  backend/frontend/src/test-utils/integration-setup.ts
  backend/frontend/src/test-utils/msw-server.ts
  backend/frontend/src/test-utils/render.tsx
  backend/frontend/src/test-utils/setup.ts
  backend/frontend/src/types/context7-optimizations.ts
  backend/frontend/vitest.integration.config.ts
  frontend/vitest-no-setup.config.ts
Due: none

test: add comprehensive component tests with 100% pass rate
  backend/frontend/src/components/__tests__/ErrorBoundary.final.test.tsx
  backend/frontend/src/components/__tests__/ErrorBoundary.fixed.test.tsx
  backend/frontend/src/components/__tests__/ErrorBoundary.simple.test.tsx
  backend/frontend/src/components/__tests__/ErrorBoundary.snapshot.test.tsx
  backend/frontend/src/components/__tests__/ErrorBoundary.test.tsx
  backend/frontend/src/components/__tests__/OptimizedServiceCard.snapshot.test.tsx
  backend/frontend/src/components/__tests__/OptimizedServiceCard.test.tsx
  backend/frontend/src/components/__tests__/__snapshots__/ErrorBoundary.snapshot.test.tsx.snap
  backend/frontend/src/components/__tests__/__snapshots__/OptimizedServiceCard.snapshot.test.tsx.snap
  backend/frontend/src/components/__tests__/simple.test.tsx
  backend/frontend/src/components/__tests__/visual-regression.test.ts
Due: none

test: add comprehensive hook and context tests (167+ tests)
  backend/frontend/src/contexts/__tests__/OptimizedAppContext.snapshot.test.tsx
  backend/frontend/src/contexts/__tests__/OptimizedAppContext.test.tsx
  backend/frontend/src/contexts/__tests__/__snapshots__/OptimizedAppContext.snapshot.test.tsx.snap
  backend/frontend/src/hooks/__tests__/__snapshots__/useOptimizedState.snapshot.test.tsx.snap
  backend/frontend/src/hooks/__tests__/custom-hooks-utilities.test.ts
  backend/frontend/src/hooks/__tests__/edge-cases-and-error-handling.test.ts
  backend/frontend/src/hooks/__tests__/integration-hooks.test.ts
  backend/frontend/src/hooks/__tests__/useOptimizedState.snapshot.test.tsx
  backend/frontend/src/hooks/__tests__/useOptimizedState.test.ts
  backend/frontend/src/hooks/__tests__/useOptimizedWebSocket.snapshot.test.tsx
  backend/frontend/src/hooks/__tests__/useOptimizedWebSocket.test.ts
Due: none

test: add MSW-based integration tests with full infrastructure
  backend/frontend/src/__tests__/integration/README.md
  backend/frontend/src/__tests__/integration/api-integration.integration.test.tsx
  backend/frontend/src/__tests__/integration/auth-flow.integration.test.tsx
  backend/frontend/src/__tests__/integration/data-fetching-hooks.integration.test.tsx
  backend/frontend/src/__tests__/integration/state-management.integration.test.tsx
  backend/frontend/src/__tests__/integration/websocket.integration.test.tsx
Due: mermaid-validation

test: add complete Playwright E2E testing framework
  backend/frontend/e2e/fixtures/auth.json
  backend/frontend/e2e/global-setup.ts
  backend/frontend/e2e/global-teardown.ts
  backend/frontend/e2e/pages/BasePage.ts
  backend/frontend/e2e/pages/DashboardPage.ts
  backend/frontend/e2e/pages/LoginPage.ts
  backend/frontend/e2e/pages/MediaPage.ts
  backend/frontend/e2e/pages/ServicesPage.ts
  backend/frontend/e2e/results/.last-run.json
  backend/frontend/e2e/tests/auth.e2e.ts
  backend/frontend/e2e/tests/auth.setup.ts
  backend/frontend/e2e/tests/basic.e2e.ts
  backend/frontend/e2e/tests/media.e2e.ts
  backend/frontend/e2e/tests/services.e2e.ts
  backend/frontend/playwright.config.ts
Due: json-format

docs: comprehensive testing and deployment documentation
  backend/frontend/INTEGRATION_TESTS.md
  backend/frontend/coverage-assessment.md
  backend/frontend/coverage-progress-report.md
  backend/frontend/docs/E2E_TESTING.md
Due: mermaid-validation

chore: update package dependencies and project configuration
  .code/agents/1/exec-call_j08FRxrWyDh7pSo9x1SbA8iK.txt
  .code/agents/137ef983-fde9-4ceb-945b-507e07953d9b/error.txt
  .code/agents/67fd7880-a363-484d-b059-3d29ea079c76/result.txt
  .code/agents/f836e1eb-087f-43a8-a82a-83bcde2a540e/result.txt
  .gitignore
  .serena/memories/MEDIANEST_STAGING_DEPLOY_20250912.md
  .vitest-performance-cache/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  AGENTS.md
  DEPLOYMENT-DECISION-20250912.md
  GEMINI.md
  MEDIANEST_STAGING_DEPLOY_20250912.md
  SECURITY-RESOLUTION-REPORT.md
  TYPESCRIPT-RESOLUTION-REPORT.md
  backend/docs/GAP_RESOLUTION_COMPLETE.md
  backend/docs/PHASE3_TEST_COMPLETION_REPORT.md
  backend/docs/STAGING_DEPLOYMENT_READINESS.md
  backend/docs/testing/MEDIANEST_TESTING_PHASE3_20250912.md
  backend/frontend/coverage-coordination-todos.json
  backend/frontend/final-coverage-coordination-report.json
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/vitest.config.ts
  backend/generate-staging-secrets.sh
  backend/package.json
  docs/DEPLOYMENT-STATUS.md
  docs/PUSH-INSTRUCTIONS.md
  docs/STAGING-PREFLIGHT.md
  package-lock.json
  reports/security-audit.md
  security-reports/MEDIANEST_STAGING_DEPLOY_20250912_NAMESPACE.json
  security-reports/MEDIANEST_STAGING_SECURITY_VALIDATION_20250912.md
Due: mkdocs-build-test, mermaid-validation, json-format

Path conditions:
  mkdocs-build-test: any of: ^(docs/|mkdocs\.yml), but not: (?x)^(
  \.git/|
  \.github/workflows/.*\.yml|
  node_modules/|
  \.venv/|
  venv/|
  __pycache__/|
  \.pytest_cache/|
  \.coverage|
  build/|
  dist/|
  \.next/|
  coverage/|
  \.nyc_output/|
  docs/gen_ref_pages\.py|  # Auto-generated files
  docs/reference/|         # Auto-generated docs
  CHANGELOG\.md|
  .*\.log|
  .*\.tmp
)
  mermaid-validation: any of: \.(md|markdown)$, but not: (?x)^(
  \.git/|
  \.github/workflows/.*\.yml|
  node_modules/|
  \.venv/|
  venv/|
  __pycache__/|
  \.pytest_cache/|
  \.coverage|
  build/|
  dist/|
  \.next/|
  coverage/|
  \.nyc_output/|
  docs/gen_ref_pages\.py|  # Auto-generated files
  docs/reference/|         # Auto-generated docs
  CHANGELOG\.md|
  .*\.log|
  .*\.tmp
)
  json-format: any of: \.json$ and not (^(node_modules|\.git|package-lock\.json)) and not ((?x)^(
  \.git/|
  \.github/workflows/.*\.yml|
  node_modules/|
  \.venv/|
  venv/|
  __pycache__/|
  \.pytest_cache/|
  \.coverage|
  build/|
  dist/|
  \.next/|
  coverage/|
  \.nyc_output/|
  docs/gen_ref_pages\.py|  # Auto-generated files
  docs/reference/|         # Auto-generated docs
  CHANGELOG\.md|
  .*\.log|
  .*\.tmp
))
  dockerfile-best-practices: any of: Dockerfile.*, but not: (?x)^(
  \.git/|
  \.github/workflows/.*\.yml|
  node_modules/|
  \.venv/|
  venv/|
  __pycache__/|
  \.pytest_cache/|
  \.coverage|
  build/|
  dist/|
  \.next/|
  coverage/|
  \.nyc_output/|
  docs/gen_ref_pages\.py|  # Auto-generated files
  docs/reference/|         # Auto-generated docs
  CHANGELOG\.md|
  .*\.log|
  .*\.tmp
)
